/* services section */
#services {
    width: 100%;
    height: 760px;
    background: #2a2541 url('../img/services-bg.png') no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.services__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    text-align: center;
}

.s-content__item {
    min-width: 300px;
    max-width: 320px;
    flex: 1;
    padding: 30px;
    margin-right: 40px;
    transition: all .3s ease-in;
}

.s-content__item:last-child, .s-content__item:nth-child(3) {
    margin-right: 0;
}

.s-content__item:hover {
    background: rgba(0,0,0,.05);
}

.s-content__item__img {
   margin-bottom: 30px;
   padding: 0;
   opacity: .5;
   transition: all .3s ease-in;
}


.s-content__item__img:hover {
    opacity: 1;
}

.s-content__item__heading {
    font-size: 1.3em;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 300;
}


.s-content__item__text {
    font-size: 1em;
    color: rgba(255,255,255,0.4);
    font-weight: 300;
}


